.header-top{background: var( --ion-color-primary); color: var(--ion-color-white); font-size: 15px; padding: 10px 0;
    a{color: var(--ion-color-white); text-decoration: none;}
}

ul.header-link{
    margin: 0; padding: 0; list-style-type: none; display: flex; gap: 10px;
    li{
        a{color: var(--ion-color-white);}
    }
}


.header{position: relative; z-index: 3;}
.menu-main-menu{ font-family: "Manrope", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    
    ul{display: flex; gap: 10px; padding: 0; margin: 0; list-style-type: none;
        li{
            a{color: var(--ion-color-secondary-black); text-decoration: none; padding: 28px 0;}
            .sub-dropdown{ flex-direction: column; margin: 0; gap: 0;
                display:none; position: absolute; top: 100%; min-width: 200px; background: #fff; 
                padding: 10px 10px 10px 10px;  transition: all 500ms ease;                
                    li{
                        display: block; padding: 5px;
                        border-bottom: 1px solid #D1D1D1;
                        a{color: var(--ion-color-secondary-black); padding: 5px 0;
                            &:hover{color: var(--ion-color-primary);}
                            &.menu-sub-heading{color: var(--ion-color-primary); font-weight: 600;}
                        }
                    }               
            }
           &:hover .sub-dropdown{display: block;}
        }
        .megamenu{width: 100%; left: 0; right: 0;
            ul{flex-direction: column; gap: 0;}
        }
    }
}

.menu-heading{background: var(--ion-color-primary); color: var(--ion-color-white); padding:10px 5px; font-size: 16px; font-weight: 600;}

