<div class="d-block d-md-none">
  <ion-toolbar class="mobile-header">
    <ion-buttons slot="end">
      <ion-menu-button>
        <img src="../../../assets/menu_button.png" alt="">
      </ion-menu-button>
    </ion-buttons>
    <ion-title><img src="../../../assets/Can-America.png" alt="" class="logo-mobile"></ion-title>
  </ion-toolbar>
</div>

<div class="header-top d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="">Need Assistance: <a href="tel:(+1) 647-673-7979">(+1) 647-673-7979</a> or <a href="mailto:info@canamerica.ca">info@canamerica.ca</a></div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
        <ul class="header-link me-3">
          <li><a href="#">Careers</a></li>
          <li><a href="#">FAQ's</a></li>
        </ul>
        <ul class="social-media">
          <li class="elementor-repeater-item-48d80c3">
            <a href="https://www.facebook.com/Can.America.Canadaimmigration" target="_blank" >
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>

          <li class="elementor-repeater-item-48d80c3">
            <a href="https://www.linkedin.com/company/can-america-immigration-inc/" target="_blank" >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>

          <li class="elementor-repeater-item-48d80c3">
            <a href="https://www.instagram.com/canamerica_immigration/" target="_blank" >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>

          <li class="elementor-repeater-item-48d80c3">
            <a href="https://twitter.com/immigraiton" target="_blank" >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>

          <li class="elementor-repeater-item-48d80c3">
            <a href="https://www.youtube.com/@canamericaimmigration" target="_blank" >
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>               
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="header d-none d-md-block">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand d-none d-md-block" href="#">
      <img src="../../../assets/Can-America.png" alt="" class="logo">
    </a>
    <div class="menu-main-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About <small><i class="fa-solid fa-chevron-down"></i></small></a>
          <ul class="sub-dropdown">
            <li><a href="#">Why Can-America</a></li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>
        </li>
        <li><a href="#">Immigration Services <small><i class="fa-solid fa-chevron-down"></i></small></a>
          <div class="sub-dropdown megamenu">
            <div class="row">
              <div class="col-md-3">
                <h3 class="menu-heading">Temporary Residence</h3>
                <ul>
                  <li><a href="#">Study Permit</a></li>
                  <li><a href="#">Study Permit Extension</a></li>
                  <li><a href="#">Visitor Visa</a></li>
                  <li><a href="#">Super Visa</a></li>
                  <li><a href="#" class="menu-sub-heading">Work Permit</a></li>
                  <li><a href="#">PG Work Permit</a></li>
                  <li><a href="#">Open Work Permit</a></li>
                  <li><a href="#">LMIA Work Permit</a></li>
                  <li><a href="#">Work Permit Extensions</a></li>                  
                </ul>
              </div>
              <div class="col-md-6">
                <h3 class="menu-heading">Permanent Residence</h3>
                <div class="row">
                  <div class="col-md-6">
                    <ul>
                      <li><a href="#" class="menu-sub-heading">Express Entry</a></li>
                      <li><a href="#">Federal Skilled Worker Program</a></li>
                      <li><a href="#">Federal Skilled Trade Program</a></li>
                      <li><a href="#">Canadian Experienced Class</a></li>
                      <li><a href="#" class="menu-sub-heading">Provincial Nominee Program</a></li>
                      <li><a href="#">Nova Scotia</a></li>
                      <li><a href="#">Manitoba</a></li>
                      <li><a href="#">Saskatchewan</a></li>
                      <li><a href="#">Alberta</a></li>
                      <li><a href="#">British Columbia</a></li>
                      <li><a href="#">New Brunswick</a></li>
                      <li><a href="#">Newfoundland and Labrador</a></li>
                      <li><a href="#">Prince Edward Island</a></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul>
                      <li><a href="#" class="menu-sub-heading">Family Sponsorship</a></li>
                      <li><a href="#">Spousal</a></li>
                      <li><a href="#">Child</a></li>
                      <li><a href="#">Parents/Grand Parents</a></li>
                      <li><a href="#" class="menu-sub-heading">Business Immigration</a></li>
                      <li><a href="#">Self Employed Category</a></li>
                      <li><a href="#">Start-up Visa</a></li>
                      <li><a href="#">Provincial Business Immigration</a></li>                     
                    </ul>
                  </div>
                </div>
                
              </div>
              <div class="col-md-3">
                <h3 class="menu-heading">Other Services</h3>
                <ul>
                  <li><a href="#">Canada Visa Refusal- Reapplication</a></li>                  
                  <li><a href="#">US Visa Refusal - Reapplication</a></li>
                  <li><a href="#">ATIP Notes - GCMS Notes</a></li>
                  <li><a href="#">Citizenship</a></li>
                  <li><a href="#">eTA - Electronic Travel Authorization</a></li>
                  <li><a href="#">French Language Training</a></li>
                  <li><a href="#">IELTS Training</a></li>
                  <li><a href="#">Inadmissibility Issues</a></li>
                  <li><a href="#">PR Card Renewal</a></li>
                  <li><a href="#">PRTD Application</a></li>
                  <li><a href="#">Procedural Fairness Letter</a></li>
                  <li><a href="#">Licensing for Skilled Trades</a></li>
                  <li><a href="#">Licensing Process - Regulated Profession</a></li>
                  <li><a href="#">Settlement Services</a></li>

                </ul>
              </div>
            </div>
            
          </div>          
        </li>
        <li><a href="#">Study Programs <small><i class="fa-solid fa-chevron-down"></i></small></a>
          <ul class="sub-dropdown">
            <li><a href="#">Study in Canada</a></li>
            <li><a href="#">Study in USA</a></li>
            <li><a href="#">Study in the UK</a></li>            
          </ul>
        </li>
        
        <li><a href="#">Assesments</a></li>        
        <li><a href="#">News & Events <small><i class="fa-solid fa-chevron-down"></i></small></a>
          <ul class="sub-dropdown">
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Gallery</a></li>            
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
       
      </ul>
    
    </div> -->
  </div>
</nav>
</div>