footer{ color: #fff;
    h3{font-size: 20px; color: #fff; font-weight: 600; margin-bottom: 10px;}
    .footer-top{ padding: 50px 0;
        background-color: #142B3C !important;
        .links{list-style-type: none; margin: 0; padding: 0;
            li{padding: 0 0 7px 0;
                a{color: #b8bfc5; text-decoration: none;}
            }
        }
        .address{ list-style-type: none; margin: 0; padding: 0;
            li{padding: 0 0 10px 30px; position: relative; color: #b8bfc5;
                i{position: absolute; left: 0; top: 5px;}
                a{color: #b8bfc5; text-decoration: none;}
            }
        }
    }

    .footer-bottom{background: var(--ion-color-primary); font-size: 15px; padding: 10px 0;
        ul{list-style-type: none; margin: 0; padding: 0; display: flex; flex-wrap: wrap; gap: 10px;
            li{
                a{color: #fff; text-decoration: none;}
            }
        }
    }
}