<footer>
<div class="footer-top">
  <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Temporary Residence</h3>
          <ul class="links mb-4 mb-md-0">            
            <li><a href="#">Study Permit</a></li>
            <li><a href="#">Study Permit Extension</a></li>
            <li><a href="#">Visitor Visa</a></li>
            <li><a href="#">Super Visa</a></li>
            <li><a href="#">Work Permit</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Permanent Residence</h3>
          <ul class="links mb-4 mb-md-0">
            <li><a href="#">Express Entry</a></li>
            <li><a href="#">Provincial Nominee Program</a></li>
            <li><a href="#">Family Sponsorship</a></li>
            <li><a href="#">Business Immigration</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Quick Links</h3>
          <ul class="links mb-4 mb-md-0">
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Get in Touch</h3>
          <ul class="address">
            <li><i class="fa-solid fa-location-dot"></i> Suite 910, 405 The West Mall, Etobicoke, ON, M9C 5J1 Canada
            </li>
            <li><i class="fa-solid fa-phone"></i> <a href="tel:919645037373">+91-964-503-7373</a></li>
            <li><i class="fa-regular fa-envelope"></i> <a href="mailto:info@canamerica.ca">info@canamerica.ca</a></li>
          </ul>

          <ul class="social-media mt-3">
            <li class="elementor-repeater-item-48d80c3">
              <a href="https://www.facebook.com/Can.America.Canadaimmigration" target="_blank" >
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>  
            <li class="elementor-repeater-item-48d80c3">
              <a href="https://www.linkedin.com/company/can-america-immigration-inc/" target="_blank" >
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
  
            <li class="elementor-repeater-item-48d80c3">
              <a href="https://www.instagram.com/canamerica_immigration/" target="_blank" >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
  
            <li class="elementor-repeater-item-48d80c3">
              <a href="https://twitter.com/immigraiton" target="_blank" >
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
  
            <li class="elementor-repeater-item-48d80c3">
              <a href="https://www.youtube.com/@canamericaimmigration" target="_blank" >
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>               
          </ul>
        </div>
      </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center text-md-start">
        © 2023 CAN-AMERICA Immigration Consulting Services Inc. All Rights Reserved.
      </div>
      <div class="col-md-5">
        <ul class="mt-4 mt-md-0">
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>