<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><img src="./../assets/Can-America.png" alt="" class="logo-mobile"></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menu-outer">       
         
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <a class="accordion-button single_button" type="button">
                Home
              </a>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                About
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="sub-dropdown">
                  <li><a href="#">Why Can-America</a></li>
                  <li><a href="#">Who We Are</a></li>
                  <li><a href="#">Our Team</a></li>
                  <li><a href="#">Testimonials</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Immigration Services
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="accordion" id="sub-accordionExample">
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="sub-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Temporary Residence
                          </button>
                      </h2>
                      <div id="sub-collapseOne" class="accordion-collapse collapse" aria-labelledby="sub-headingOne" data-bs-parent="#sub-accordionExample">
                          <div class="accordion-body">
                            <ul class="sub-dropdown">
                              <li><a href="#">Study Permit</a></li>
                              <li><a href="#">Study Permit Extension</a></li>
                              <li><a href="#">Visitor Visa</a></li>
                              <li><a href="#">Super Visa</a></li>
                              <li><a href="#" class="menu-sub-heading">Work Permit</a></li>
                              <li><a href="#">PG Work Permit</a></li>
                              <li><a href="#">Open Work Permit</a></li>
                              <li><a href="#">LMIA Work Permit</a></li>
                              <li><a href="#">Work Permit Extensions</a></li>                  
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="sub-headingTwo">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            Temporary Residence
                          </button>
                      </h2>
                      <div id="sub-collapseTwo" class="accordion-collapse collapse" aria-labelledby="sub-headingTwo" data-bs-parent="#sub-accordionExample">
                          <div class="accordion-body">
                            <ul class="sub-dropdown">
                              <li><a href="#" class="menu-sub-heading">Express Entry</a></li>
                              <li><a href="#">Federal Skilled Worker Program</a></li>
                              <li><a href="#">Federal Skilled Trade Program</a></li>
                              <li><a href="#">Canadian Experienced Class</a></li>
                              <li><a href="#" class="menu-sub-heading">Provincial Nominee Program</a></li>
                              <li><a href="#">Nova Scotia</a></li>
                              <li><a href="#">Manitoba</a></li>
                              <li><a href="#">Saskatchewan</a></li>
                              <li><a href="#">Alberta</a></li>
                              <li><a href="#">British Columbia</a></li>
                              <li><a href="#">New Brunswick</a></li>
                              <li><a href="#">Newfoundland and Labrador</a></li>
                              <li><a href="#">Prince Edward Island</a></li>
                              <li><a href="#" class="menu-sub-heading">Family Sponsorship</a></li>
                              <li><a href="#">Spousal</a></li>
                              <li><a href="#">Child</a></li>
                              <li><a href="#">Parents/Grand Parents</a></li>
                              <li><a href="#" class="menu-sub-heading">Business Immigration</a></li>
                              <li><a href="#">Self Employed Category</a></li>
                              <li><a href="#">Start-up Visa</a></li>
                              <li><a href="#">Provincial Business Immigration</a></li> 
                            </ul>
                          </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="sub-headingThree">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapseThree" aria-expanded="true" aria-controls="collapseOne">
                            Other Services
                          </button>
                      </h2>
                      <div id="sub-collapseThree" class="accordion-collapse collapse" aria-labelledby="sub-headingThree" data-bs-parent="#sub-accordionExample">
                          <div class="accordion-body">
                            <ul class="sub-dropdown">
                              <li><a href="#">Canada Visa Refusal- Reapplication</a></li>                  
                              <li><a href="#">US Visa Refusal - Reapplication</a></li>
                              <li><a href="#">ATIP Notes - GCMS Notes</a></li>
                              <li><a href="#">Citizenship</a></li>
                              <li><a href="#">eTA - Electronic Travel Authorization</a></li>
                              <li><a href="#">French Language Training</a></li>
                              <li><a href="#">IELTS Training</a></li>
                              <li><a href="#">Inadmissibility Issues</a></li>
                              <li><a href="#">PR Card Renewal</a></li>
                              <li><a href="#">PRTD Application</a></li>
                              <li><a href="#">Procedural Fairness Letter</a></li>
                              <li><a href="#">Licensing for Skilled Trades</a></li>
                              <li><a href="#">Licensing Process - Regulated Profession</a></li>
                              <li><a href="#">Settlement Services</a></li>
            
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Study programs
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="sub-dropdown">
                  <li><a href="#">Study in Canada</a></li>
                  <li><a href="#">Study in USA</a></li>
                  <li><a href="#">Study in the UK</a></li>            
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <a class="accordion-button single_button" type="button">
                Assesments
              </a>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                News & Events
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="sub-dropdown">
                  <li><a href="#">Latest News</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Gallery</a></li>            
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <a class="accordion-button single_button" type="button">
                Contact
              </a>
            </h2>
          </div>
        </div>
          </div>
         
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
   
    
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


