/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}
}

body, button, input, select, textarea, .ast-button, .ast-custom-button {
    font-family: 'Heebo', sans-serif !important;
    font-weight: normal;   
    font-size: 1rem !important;
    line-height: 1.6em;
    
}
h1, h2, h3, h4, h5, h6 {
    color: var(--ast-global-color-2);
    font-family: 'Manrope', sans-serif;

}

p{font-size: 16px;}

.bg-color-1 {
    background: #f7f5f5;
}
.sec-title {margin-bottom: 25px;
    h2 {
        font-size: 34px!important;
        line-height: 40px!important;
        color: var(--ast-global-color-0);
        font-weight: 700;
    }
}
.sec-title-white {margin-bottom: 25px;
    h2 {
        font-size: 34px!important;
        line-height: 40px!important;
        color: var(--ion-color-white);
        font-weight: 700;
    }
    p{color: #fff;}
}

.elementor-section{padding: 100px 0;}

.service-block{
    .servicebox{ overflow: hidden; position: relative;
        img{height: 250px; width: 100%; object-fit: cover; transition: 1.5s}
        &:hover{
            img{
                transform: scale(1.3);
                transition: 1.5s
            }
        }
        &:before{content: ""; position: absolute; background: rgba($color: #000000, $alpha: 0); width: 100%; height: 100%;}
        &:hover{
            &:before{content: ""; position: absolute; background: rgba($color: #000000, $alpha: .2); width: 100%; height: 100%; z-index: 2;}
        }
    }
   
    .content{padding: 25px;
        background-color: #f9fafa;
        h3{
            font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #142b3c!important;
        }
    
    }
}



.lists{list-style-type: none; padding: 0; margin: 0;
    li{position: relative; padding:0 0 20px 20px;
        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            color: #ed0025;
            font-size: 15px;            
            line-height: 2em;
            padding: 0;
            position: absolute;
            left: 0;
            
        }
    }
}


.partner-us{background: url(../src/assets/testimonial-bg.jpg) no-repeat; position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  
    &:before {
      position: absolute;
      content: '';
      background: #142b3c;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .92;
    }
  }

  .eligility{padding: 0 0 20px 0;
    .eligility-title {
        h3{font-size: 20px; position: relative;            
            a{
                color: #ed0025!important;
                position: relative;
                display: inline-block;
                text-decoration: none; 
                padding-right: 20px;
                &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f062";
                color: #ed0025;
                font-size: 15px;            
                line-height: 2em;
                padding: 0;
                position: absolute;
                right: 0;
                transform: rotate(45deg);
                }
            }
        }
      }
  }
  

  ul.social-media{
    margin: 0; padding: 0; list-style-type: none; display: flex; gap: 10px;
    li{
        a{color: var(--ion-color-white);}
    }
}


@media (max-width: 768px) {

    .sec-title {margin-bottom: 25px;
        h2 {
            font-size: 28px!important;
            line-height: 30px!important;
            color: var(--ast-global-color-0);
            font-weight: 700;
        }
    }
    .sec-title-white {margin-bottom: 25px;
        h2 {
            font-size: 28px!important;
            line-height: 30px!important;
            color: var(--ion-color-white);
            font-weight: 700;
        }
        p{color: #fff;}
    }

}


.menu-outer{
    .accordion-body{padding: 0 20px;}
    .accordion-item{ border: none; border-bottom: 1px solid #e7e7e7; 
        .accordion-button{background: #fff !important; color: #000; box-shadow: none; padding: 10px 0;   font-size: 14px; text-decoration: none;       
            &:after{background-size: 14px;}
        }
        .single_button{
            &:after{display: none;}
        }
    }
    .sub-dropdown{margin: 0; padding: 0; list-style-type: none;
        li{
            a{color: #000; text-decoration: none; font-size: 14px; padding: 5px 0; display: block;}
        }
    }
}

