<!-- <ion-header [translucent]="true">

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu sdfds</ion-title>
    </ion-toolbar>

</ion-header> --> 



<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="w-100">
  <section class="banner-sec">
    <div class="container">
      <div class="banner-cont">
        <h2>Study Abroad, Immigration, & Visa processing</h2>
    <p>Leading overseas education and immigration consultants, with 14 years of<br> experience. 92% visa success rate.</p>
    <div class="d-md-flex gap-3">
      <a href="#" class="btn btn-red-solid can-btn">Initial Assessment <i class="fa-solid fa-angle-right ms-2"></i></a>
      <a href="#" class="btn btn-red-outline can-btn mt-3 mt-md-0">Book A Consultation <i class="fa-solid fa-angle-right ms-2"></i></a>
    </div>
      </div>
    
  </div>
    <!-- <img src="../../assets/banner-min.jpeg" alt=""> -->
  </section> 

  <!-- <swiper-container navigation="true" space-between="30" [slidesPerView]="slidesPerView" autoplay="true">
    <swiper-slide>
      <h2>1</h2>
    </swiper-slide>
    <swiper-slide>
      <h2>2</h2>
    </swiper-slide>
    <swiper-slide>
      <h2>3</h2>
    </swiper-slide>
    <swiper-slide>
      <h2>4</h2>
    </swiper-slide>
   
  </swiper-container> -->
  
  
  <section class="elementor-section">
    <div class="container">
      <div class="sec-title text-center">
        <h2>Immigration Services</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-block">
          <div class="servicebox">
            <img src="../../assets/Temporary-Residence.jpg" alt="">
          </div>
          <div class="content">
            <h3>Temporary Residence</h3>
            <p>Broaden your horizons with the best study abroad programmes across the globe. Canada & US visit visas, study and work permits, and much more.</p>
            <a href="#" class="btn btn-red-solid can-btn">Know More <i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="service-block">
          <div class="servicebox">
            <img src="../../assets/Permanent-Residence.jpg" alt="">
          </div>
          <div class="content">
            <h3>Permanent Residence</h3>
            <p>We have got everything covered from Express Entry Canada and the Provincial Nominee Program to Family Visa sponsorships.</p>
            <a href="#" class="btn btn-red-solid can-btn">Know More <i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="service-block">
          <div class="servicebox">
            <img src="../../assets/Other-Services.jpg" alt="">
          </div>
          <div class="content">
            <h3>Other services</h3>
            <p>We’ll guide you through citizenship applications, visa refusal re-applications, PR renewal & more. Plus IELTS & French training to get you that top score.</p>
            <a href="#" class="btn btn-red-solid can-btn">Know More <i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="elementor-section bg-color-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex flex-wrap position-relative mb-4 mb-md-0">
            <div class="recruitment-time">
              <h4>RECRUITMENT<br>
                SINCE</h4>
                <h3>2008</h3>
            </div>
            <div class="w-100 text-center pic-1"><img src="../../assets/Canada-immigration-2.jpg" alt=""> </div>
            <div class="w-100 text-left pic-2"><img src="../../assets/Canada-immigration-3.jpg" alt=""> </div>
            <div class="w-100 text-end pic-3"><img src="../../assets/Canada-immigration-1.jpg" alt=""> </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="sec-title">
            <h2>Top immigration and study abroad education consultancy, based in Toronto, Canada</h2>
            <p>
              With more than a decade of expertise in student recruitment and with our personalized approach to education and immigration consultation, we aim to provide ethical, transparent, and competent services to our clients.
            </p>
            <ul class="lists">
              <li>14 years of recruitment expertise, with clients from over 15 countries </li>
              <li>Education Consultants with first-hand study abroad and Canadian & US immigration experience
                Overall, 92% Visa approval</li>
              <li>Overall, 92% Visa approval</li>
              <li>High visa success rates for rejected applications</li>
              <li>65% of clients referred by previous clients</li>
              <li>Experienced and licensed immigration consultants with in-depth knowledge of the processes</li>
              <li>Personalized solutions for each aspirant</li>
              <li>Guaranteed transparency about eligibility, expenses, time frames, and the process itself</li>            
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center">
        <img src="../../assets/RCIC_EN.webp" alt="">
        <p class="my-3">Verify the status of our License with the College of Immigration and Citizenship Consultants – CICC Canada</p>
        <a href="#" class="btn btn-red-solid can-btn">Verify the status <i class="fa-solid fa-angle-right ms-2"></i></a>
      </div>
    </div>
  </section>

  <section class="elementor-section">
    <div class="container">
      <div class="sec-title text-center"><h2>Study Programs</h2></div>
      <div class="row">
        <div class="col-md-4">
          <div class="study-block mb-4 mb-md-0">
            <div class="apply">
              <i class="fa-solid fa-arrow-up"></i>
              Study in <br>Canada	
            </div>
            <img src="../../assets/Study-in-Canada.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="study-block mb-4 mb-md-0">
            <div class="apply">
              <i class="fa-solid fa-arrow-up"></i>
              Study in <br>Canada	
            </div>
            <img src="../../assets/Study-in-US.jpg" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="study-block mb-4 mb-md-0">
            <div class="apply">
              <i class="fa-solid fa-arrow-up"></i>
              Study in <br>Canada	
            </div>
            <img src="../../assets/Study-in-UK.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="elementor-section partner-us">
    <div class="container position-relative">
      <div class="sec-title-white text-center"><h2>Together let’s secure futures</h2>
        <p>Let’s grow stronger together by collaborating with each other. If you are looking to partner with us, please fill out the relevant form below and our business development team will get back to you within one business day.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-block mb-4 mb-md-0">
          <div class="servicebox">
            <img src="../../assets/Employers.jpg" alt="">
          </div>
          <div class="content">
            <h3>Employers</h3>
            <p>Are you an employer looking to hire experienced employees with relevant qualifications from across the globe? We can help you find the best candidates.</p>
            <a href="#" class="btn btn-red-solid can-btn">Employer Enquiry <i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="service-block mb-4 mb-md-0">
          <div class="servicebox">
            <img src="../../assets/Recruitment-Associate.jpg" alt="">
          </div>
          <div class="content">
            <h3>Recruitment Associates</h3>
            <p>Are you an agency looking to recruit students or help immigrate your clients to Canada? Join hands for a fruitful partnership.</p>
            <a href="#" class="btn btn-red-solid can-btn">Employer Enquiry <i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="service-block mb-4 mb-md-0">
          <div class="servicebox">
            <img src="../../assets/Education-Institutions.jpg" alt="">
          </div>
          <div class="content">
            <h3>Education Institutions</h3>
            <p>If you are looking to expand your agent network to attract qualified students from across the globe, please send us your details and we’ll match you with the best of the best.</p>
            <a href="#" class="btn btn-red-solid can-btn">Employer Enquiry <i class="fa-solid fa-angle-right ms-2"></i></a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="elementor-section">
    <div class="container position-relative">
      <div class="sec-title text-center"><h2>Check Your Eligibility</h2>
        <p>Want to get an early feel of your eligibility for various immigration opportunities in Canada? Fill out the forms below based on your immigration needs and our experts will get in touch with you at the earliest.</p>
      </div>
      <div class="row align-items-center mt-5">
        <div class="col-md-5 mb-4 mb-md-0">
          <img src="../../assets/Check-Your-Eligibility-1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <div class="eligility">
              <div class="eligility-title">
                <h3><a href="#"> General Immigration</a></h3>
              </div>
              <p>If you have a bachelor’s degree and at least one year of continuous, paid, work experience (full- time or equivalent part-time) in the last 10 years, please fill out this form.</p>
            </div>
            </div>
            <div class="col-md-6">
              <div class="eligility">
              <div class="eligility-title">
                <h3><a href="#"> Student</a></h3>
              </div>
              <p>If you have completed your 12th grade with at least 50% marks or if you have a bachelor’s degree with a grade of at least 50% and above, please fill out this form.</p>
            </div>
            </div>
            <div class="col-md-6">
              <div class="eligility">
              <div class="eligility-title">
                <h3><a href="#">Business</a></h3>
              </div>
              <p>If you own a business or have at least 2 years of managerial experience and are looking to immigrate to Canada as an investor, please fill out this form.</p>
            </div>
            </div>
            <div class="col-md-6">
              <div class="eligility">
              <div class="eligility-title">
                <h3><a href="#">Sponsorship</a></h3>
              </div>
              <p>If you are a sponsor, or an applicant looking to immigrate to Canada under family sponsorship (Parents, Grand Parents, spouse, kids, or adopted child) please fill out this form.</p>
            </div>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </section>
  </div>
  <app-footer></app-footer>
</ion-content>


