#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.banner-sec{position: relative; background: url(../../assets/banner-min.jpeg) center center no-repeat; min-height: 700px;
  &::before{content: "";  background-color: transparent;
    background-image: linear-gradient(90deg, #0d1c27fa 0%, #0D1C2759 100%);
    opacity: 1;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
  .banner-cont{position: absolute; top: 50%; transform: translateY(-50%); width: 50%;
    h2{ color: #fff;
      font-size: 72px;
      line-height: 80px;
      font-weight: 700;
    }
    p{color: #fff; font-size: 18px;}
    
  } 

}
@media (max-width: 768px) {
  .banner-sec{min-height: 400px;
    .banner-cont{width: 95%; top: 50%;
      h2{font-size: 30px; line-height: 30px;}
    }
  }
  
}

.btn-red-solid{background: var(--ion-color-primary); border: none; border-radius: 0; color: #fff; padding: 15px 30px; font-size: 14px;font-family: 'Manrope',sans-serif;
  font-weight: 800;}


.btn-red-outline{background-color: transparent;
  box-shadow: inset 0 0 0 2px #ed0025;

box-shadow: inset 0 0 0 2px var(--ion-color-primary); border:none; border-radius: 0; color: #fff; padding: 15px 30px; font-size: 14px; font-family: 'Manrope',sans-serif;
  font-weight: 800;}



  .can-btn{
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    color: #fff!important;
    font-family: 'Manrope',sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 14.5px 34px;
    border-radius: 0;
    z-index: 1;
    transition: all 500ms ease;
    // background-color: #ed0025
}

.can-btn:before {
  
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    bottom: 110%;
    left: 50%;
    background-color: #064a72;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1
}

.can-btn:hover:before {
  bottom: -40%
}

.pic-2{margin-top: -100px;}
.pic-3{margin-top: -100px;}

.recruitment-time{text-align: center;
  background: var(--ion-color-white);position: absolute; padding: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%);
  h4{color: var(--ast-global-color-2); margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
  }
  h3{color: var( --ast-global-color-1);
    font-family: "Manrope", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
  }
}

.study-block{overflow: hidden; position: relative;
  img{width: 100%; object-fit: cover; transition: 1.5s}
  &:hover{
      img{
          transform: scale(1.3);
          transition: 1.5s
      }
  }
  &:before{content: ""; position: absolute; background: rgba($color: #000000, $alpha: 0); width: 100%; height: 100%;}
  &:hover{
      &:before{content: ""; position: absolute; background: rgba($color: #000000, $alpha: .2); width: 100%; height: 100%; z-index: 2;}
  }
  .apply{ background: var(--ast-global-color-1); position: absolute; left: 20px; bottom: 20px; width: 150px; z-index: 5; padding: 10px 30px; color: #fff;
    font-size: 18px;
    font-weight: 700;
    i{
    position: absolute;      
    right: 6px;
    top: 10px;
    font-size: 18px;
    font-weight: 900;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    transform: rotate(45deg);
    }
  }
}

@media (max-width: 768px) {

.pic-2{display: none;}
.pic-3{display: none;}
}